# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite & data
data/
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*Zone.Identifier

# OS
.DS_Store

# Logs
*.log

# Gradle / Spring Boot
backend/build/
backend/.gradle/
backend/bin/
*.war

# Microservices builds
microservices/*/build/
microservices/*/.gradle/
microservices/*/bin/

# Node / React
frontend/node_modules/
frontend/dist/
node_modules/
dist/

#others

frontend/.env
/microservices/build
/microservices/.gradle
